@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(variables.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* layout */

body{
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar content';
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a{
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-logo-header);
}


h1{
  font-size: 1.5rem;
}



/* header */
.header__contenedor{
  grid-area: header;
  background-color: var(--color-contenedor-header);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  gap: var(--espacio-entre-elementos);
}

.logo__tres_lineas-container{
  display: flex;
  align-items: center;
}

.logo__youtube{
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.logo__youtube-img{
  position: relative;
  height: 25px;
  width: 30px;
}

.logo__youtube h1{
  color: var(--color-texto-youtube);
}


.busqueda-container{
  align-items: center;
  display: flex;
  gap: var(--espacio-entre-elementos);
  width: 600px;
}
@media(max-width:800px){
  .busqueda-container{
    display: none;
  }
  
}

.busqueda-container form{
  display: flex;
  position: relative;
  width: 100%;
  
}

.busqueda-container input{
  height: 40px;
  width: 100%;
  background-color: var(--color-barra-de-busqueda-header);
  color: var(--color-texto-barra-de-busqueda-header);
  padding: 12px;
  outline: none;
  border: var(--borde-barra-de-busqueda-header);
  border-radius: var(--borde-radius-barra-de-busqueda-header);
}

.busqueda-container button{
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: var(--color-fondo-logo-busqueda-header);
  color: var(--color-del-logo-busqueda-header);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: var(--borde-radius-del-logo-busqueda-header);
}

.busqueda-container form ~ button{
  border-radius: 50%;
}

.perfil-container{
  display: flex;
  align-items: center;
  gap: 10px;
  

}

.perfil-container a{
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-logo-camara-y-campana-header);
  color: var(--color-logo-camara-y-campana-header);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.perfil-container img{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 60%;
}

.perfil-container a:hover{
  background-color: var(--color-hover-logo-camara-y-campana-header);
}

/* ------------------- */

hr{
  border: solid 1px rgba(255, 255, 255, 0.1);
  margin: 12px 0;
}



/* sidebar */

.sidebar{
  grid-area: sidebar;
  background-color: var(--color-contenedor-sidebar);
  padding-top: 10px;
  overflow-y: scroll;
}
.sidebar-texto{
  color: var(--color-textos-de-sidebar);
}

.sidebar-items{
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  margin-right: 24px;
}

.sidebar-item{
  height: 40px;
  align-items:  center;
  display: flex;
  padding: 0 24px;
  padding-left: 25px;
  
}

.sidebar-item i{
  margin-right: 15px;
}

.sidebar-item:hover{
  background-color: var(--color-hover-sidebar-input);
  border-radius: var(--borde-radius-hover-sidebar-input);
}






/* Content */
.content{
  grid-area: content;

}

/* -------------- */

h4{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-elemento-h4);
  margin-left: 20px;
}
i{
  font-size: 1.5rem;
}
p,a{
  font-size: 0.9rem;
}

/* chips */

.chips-warpper{
  overflow-x: scroll;
  max-width: calc(100vw - 240px);
  
  background-color: var(--color-contenedor-chips);
  display: flex;
  padding-left: 14px;
  border-top: var(--borde-superior-contenedor-chips);
  border-bottom: var(--borde-inferior-contenedor-chips);
  
  
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}

.chips-warpper::-webkit-scrollbar{
  height: 6px;
}

.chips-warpper::-webkit-scrollbar-thumb{
  background: var(--color-barra-scroll-chips);
}


.chips{
  margin: 12px 6px;
  background-color: var(--color-bloque-de-texto-chips);
  padding: 6px 12px;
  color: var(--color-de-texto-chips);
  cursor: pointer;
  white-space: nowrap;
  border-radius: var(--borde-de-texto-chips);
}

.chips:hover{
  background-color: var(--color-hover-bloque-de-texto-chips);
  transition: var(--transicion-hover-bloque-de-texto-chips);
}


.sidebar::-webkit-scrollbar-thumb{
  background-color: var(--color-barra-scroll-sidebar);
}

/* video-container */


.video-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  /* grid-template-rows:repeat(auto-fill,minmax(200px,1fr)) ; */
  grid-template-rows:max-content ;
  height: calc(100vh - 118px);
  gap: 18px;
  padding: 20px;
  background-color: var(--color-contenedor-videos-content);
  overflow-y:scroll ;
  position: relative;
  
}

.video-container-cover{
  position: relative;
  transition: 0.5s;

}
.video-content{
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  transition: 1s;

}
.video-content:hover{
  background-color: var(--color-hover-video-content);
}
.vide-box{
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}
.vide-box img{
  object-fit:cover ;
  border-radius: 12px;
}
.video-detail{
  display: flex;
  color: var(--color-texto-detalle-video-content);
  padding-top: 12px;
}

.chanel-logo{
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;

}
.detail{
  margin-left: 12px;
}
.title{
  font-size: 0.9rem;
}
.chanel-name{
  font-size: 0.8rem;
  margin-top: 10px;
  color: var(--color-texto-nombre-canal-video-content);
}
.views-upload{
  display: flex;
  font-size: 0.8rem;
  margin-top: 4px;
  color: var(--color-texto-views-upload-video-content);
}
.upload{
  margin-left: 5px;
}

/* ------------- */


@media(max-width:1200px){
  body{
    grid-template-columns: 70px,1fr;
  }
  .sidebar-item span, .sidebar-items h4{
    display: none;

  }
  .sidebar-items{
    padding: 0;
  }
  .sidebar-item{
    padding: 0 20px;
  }
  .chips-warpper{
    width: calc(100vh - 70px);
  }
}